@use "../shared/typography" as *;
@use "../shared/spacings" as *;
@use "../shared/mixins";

.sd-empty-table {
    @include mixins.set-padding(24);

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        gap: 2rem;
    }

    &__img {
        max-width: 35rem;
        min-width: 35rem;

        img {
            width: 100%;
        }
    }
}