@use "../shared//variables" as *;

$input-themes: (
	light: (default: (border: $neutral-200, text: $neutral-800, label: $neutral-700,
		),
		hover: (border: $neutral-300, text: $neutral-800, label: $neutral-700,
		),
		focus: (border: var(--primary-500), text: $neutral-800, label: var(--primary-500),
		),
		disabled: (border: $neutral-200, text: $neutral-300, label: $neutral-300,
			bg: $neutral-100)),
	dark: (default: (border: $neutral-700, text: $neutral-100, label: $neutral-300,
		),
		hover: (border: $neutral-600, text: $neutral-100, label: $neutral-300,
		),
		focus: (border: var(--primary-500), text: $neutral-100, label: var(--primary-500),
		),
		disabled: (border: $neutral-700, text: $neutral-600, label: $neutral-600,
			bg: $neutral-800),
	)
);

@mixin set-input-state($theme, $state) {
	@if $state =='disabled' {
		background-color: map-get(map-get(map-get($input-themes, $theme), $state), 'bg');
	}

	border-color: map-get(map-get(map-get($input-themes, $theme), $state), border);
	color: map-get(map-get(map-get($input-themes, $theme), $state), text);
	font-family: 'Helvetica';

	&+label {
		color: map-get(map-get(map-get($input-themes, $theme), $state), 'label');
	}
}

@mixin set-input-theme($theme) {
	&__field:hover {
		@include set-input-state($theme, 'hover');
	}

	&__field {
		@include set-input-state($theme, 'default');

		&:focus {
			@include set-input-state($theme, 'focus');
		}

		&:disabled {
			@include set-input-state($theme, 'disabled');
		}
	}

}

@mixin small-label {
	top: 0.5rem;
	transform: none;
	font-size: 12px;
}

.sd-input {
	position: relative;

	&__label {
		color: black;
		transition: 0.2s all ease-in-out;
		position: absolute;
		left: 1rem;
		@include small-label();
	}

	&__field {
		width: 100%;
		background-color: white;
		border-radius: $border-radius;
		border: 1px solid;
		outline: 0 !important;
		padding: 24px 16px 8px 16px;
		font-size: 12px;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;

		&:placeholder-shown+label {
			top: 1.75rem;
			transform: translateY(-50%);
			font-size: 12px;
		}

		// STATES
		&:focus+label {
			@include small-label();
		}

		// HIDE PLACEHOLDERS
		&::-webkit-input-placeholder {
			color: transparent !important;
		}

		&::-moz-placeholder {
			color: transparent !important;
		}

		&::-ms-input-placeholder {
			color: transparent !important;
		}

		// @include hover{
		// 	&:disabled{
		// 		cursor: not-allowed;
		// 	}
		// }
	}

	//
	//
	// WITH LEADING ICON
	.leading-icon,
	.trailing-icon {
		position: absolute;
		top: 1.75rem;
		transform: translateY(-50%);
		border-radius: $border-radius;
	}

	&--hasLeadingIcon {
		input {
			padding-left: 64px;
		}

		label {
			padding-left: 48px;
		}

		.leading-icon {
			left: 0.5rem;
		}
	}

	&--hasTrailingIcon,
	&--date,
	&--password {
		input {
			padding-right: 64px;
		}

		.trailing-icon {
			right: 0.5rem;
		}
	}

	//
	//
	// VARIATIONS
	&--select {
		z-index: 1;
	}

	&--select &__field {
		-moz-appearance: none;
		-webkit-appearance: none;

		&::-ms-expand {
			display: none;
		}
	}

	&--select .chevron-down {
		position: absolute;
		top: 1.75rem;
		right: 0.5rem;
		transform: translateY(-50%);
		z-index: -1;
	}

	&--textarea &__field {
		resize: vertical;
	}

	&--number &__field {
		&[type="number"] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}

		&[type=number]::-webkit-inner-spin-button,
		&[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}
	}

	&--number {

		.sort-up,
		.sort-down {
			position: absolute;
			right: 0.5rem;
			height: 1rem;
		}

		.sort-up {
			top: 1rem;
		}

		.sort-up+.sort-down {
			top: 1.5rem;
		}
	}

	&--date {
		.trailing-icon {
			background-color: var(--primary-100);

			svg,
			path {
				color: var(--primary-600);
			}
		}

		input::-webkit-calendar-picker-indicator {
			z-index: 1;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			height: 100%;
			margin: 0;
			opacity: 0;
		}
	}

	&--search {
		.leading-icon {
			background-color: transparent;
			left: 0.5rem;
		}

		.clear {
			position: absolute;
			top: 1.75rem;
			transform: translateY(-50%);
		}

		.clear {
			right: 0.5rem;
		}

		input {
			padding-top: calc(1rem - 1px) !important;
			padding-bottom: calc(1rem - 1px) !important;
			padding-left: calc(3.5rem - 1px);

			&::-webkit-input-placeholder {
				color: inherit !important;
			}

			&::-moz-placeholder {
				color: inherit !important;
			}

			&::-ms-input-placeholder {
				color: inherit !important;
			}
		}
	}

	&--searchNoBorder input {
		border-radius: 0;
		border-top-color: transparent !important;
		border-left-color: transparent !important;
		border-right-color: transparent !important;
	}

	&--noLabel {
		.sd-input__field {
			padding: 16px 0;
		}

		label {
			opacity: 0;
			z-index: -1;
		}
	}


	//
	//
	// SLOTS
	&__slot {
		position: absolute;
		right: 0.5rem;
		top: 1.75rem;
		transform: translateY(-50%);
	}

	//
	//
	// TABLET
	.tablet & {
		&__field {
			padding-top: 32px;

			&:not(:focus):placeholder-shown+label {
				top: 2.25rem;
			}
		}

		.leading-icon,
		.trailing-icon,
		&--select .chevron-down,
		&__slot {
			top: 2.25rem;
		}

		&--search {

			.leading-icon,
			.clear {
				top: calc(0.75rem - 1px);
				transform: none;
			}

			.leading-icon {
				left: 0.75rem;
			}

			input {
				padding-left: 4rem;
			}

			.sd-icon {
				height: 1rem;
				width: 1rem;
			}
		}
	}

	//
	//
	// THEMING
	body:not(.dark) & {
		@include set-input-theme('light');
	}

	body.dark & {
		@include set-input-theme('dark');

		option {
			background-color: $neutral-800;
			color: $neutral-100;
		}
	}
}