.sd-table {
    table {
        width: 100%;
        border-collapse: collapse;
        
        td, th {
            padding: 0;
            border: 1px solid $neutral-200;
            text-align: left;
            font-weight: normal;
        }
    
        td {
            display: table-cell;
            color: inherit;
            fill: inherit;
            min-width: 120px;
            max-width: 240px;
            min-height: 32px;
        }
    }
    &-header,
    &-cell {
        padding: 1rem;
    }
}