
@use '../shared/variables' as *;
$buttonDepth: 1.5rem;

.sd-table {
    display: flex;
    position: relative;

    table {
        width: 100%;
        border-collapse: collapse;
        margin-right: $buttonDepth;
        margin-bottom: $buttonDepth;
        
        td, th {
            padding: 0;
            border: 1px solid $neutral-200;
            text-align: left;
            font-weight: normal;
        }
    
        td {
            display: table-cell;
            color: inherit;
            fill: inherit;
            min-width: 120px;
            max-width: 240px;
            min-height: 32px;
        }
    }
    &-header,
    &-cell {
        padding: 1rem;
    }

    &__add-column {
        width: 1rem;
        height: calc(100% - #{$buttonDepth});
        top: 0;
        right: 0;
    }
    &__add-row {
        height: 1rem;
        width: calc(100% - #{$buttonDepth});
        bottom: 0;
    }
    &__add-column, 
    &__add-row {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $neutral-100;
        padding: 0.5rem;
        border-radius: 2px;
        position: absolute;
    }

    // &__options {
    //     padding: 1rem;
    //     background-color: $neutral-50;
    // }
}