@use '../shared/variables' as *;
@use '../shared/spacings' as *;
@use '../components/button' as *;

.sd-table {
  $parent: &;
  width: 100%;
  border: 1.5px solid $terracotta;
  border-radius: 5px;
  background-color: $white;

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;

    &#{$parent}--menu {
      padding: 0;

      #{$parent}--cell {
          display: flex;
          justify-content: center;
          align-items: center;
      }
    }
  }

  th {
      font-weight: normal;
  }

  td:not(:last-child),
  th:not(:last-child) {
    border-right: 1.5px solid $terracotta;
  }

  thead th {
    background-color: $terracotta;
    color: $white;
  }

  tr {
    td {
      border-top: 1.5px solid $terracotta;
      color: $terracotta;
    }

    &:last-child {
      td:first-child {
        border-bottom-left-radius: 5px;
      }
      td:last-child {
        border-bottom-right-radius: 5px;
      }
    }
  }

  &--cell,
  &--header {
    padding: 0.5rem;
  }

  &-row{
    cursor: pointer;
    &:hover {
      background-color: #ffebe6;
    }
  }
}