@use '../shared/variables' as *;
@use '../shared/spacings' as *;
@use '../components/button' as *;

.sd-table {
  $parent: &;
  
  border: 1.5px solid $midnight;
  border-radius: 5px;

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 1rem;
  }
  thead {
    background-color: $midnight;

    th {
      font-weight: normal;
      color: $white;
    }
  }

  td:not(:last-child),
  th:not(:last-child) {
    border-right: 1.5px solid $midnight;
  }

  tr {
    td {
      border-top: 1.5px solid $midnight;
      // color: $terracotta;

      &#{$parent}--menu {
        text-align: center;
      }
    }

    &:last-child {
      td:first-child {
        border-bottom-left-radius: 5px;
      }
      td:last-child {
        border-bottom-right-radius: 5px;
      }
    }
  }

  &-row{
    cursor: pointer;
    &:hover {
      background-color: $midnight-50;
    }
  }
}