@use './shared/variables' as *;

body {
    font-family: $font-family;
    font-size: 16px;
    padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

button {
    background-color: transparent;
    border: 1px solid;
    border-color: transparent;
    cursor: pointer;
}

body {
    font-family: $font-family;
    font-size: 1rem;
}